<div class="list-idea">
  <div class="idea" *ngFor="let idea of ideas">
    <div class="username">
      {{ idea.username }}
    </div>
    <div class="description">
      {{ idea.description }}
    </div>
    <div>
        <button type="button" class="btn btn-outline-success btn-sm mr-1" (click)="Like(idea)" id="AgreeBtn">
          Agree 
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="Dislike(idea)" id="DisagreeBtn">
          Disagree
        </button>
        
        {{ idea.rating }}
    </div>
  </div>
</div>