h1{
  font-family: cursive;
  text-align: center;
}

.list-idea {
  height: 400px;
  overflow: auto;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.list-idea::-webkit-scrollbar{width: 6px;}

.list-idea::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: rgba(56, 56, 56, 0.363);
}

.idea {
  height: 100px;
}